.wrapper {
  border-bottom: 1px dashed var(--selected-theme-main-color);
  padding: 20px;
  display: flex;
  align-items: center;
  h2 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 1em;
    text-transform: capitalize;
    color: var(--selected-theme-main-color);
    position: relative;
    display: flex;
    flex: 1;
  }

  span {
    svg {
      color: var(--selected-theme-main-color);
    }
  }
}
