.wrapper {
  border-bottom: 1px dashed #ffdd40;
  padding: 20px;
  display: flex;
  align-items: center;
  h2 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 1em;
    text-transform: capitalize;
    color: #ffdd40;
    position: relative;
    display: flex;
    flex: 1;
  }

  span {
    svg {
      color: #ffdd40;
    }
  }
}
