.portfolio {
  &__content {
    padding: 20px;
    width: 100%;
    &__filter {
      display: inline-block;
      margin: 0 auto;
      border-radius: 26px;
      border: 1px dashed rgba(255, 255, 255, 0.2);
      line-height: 0;
      text-align: center;
      li {
        font-size: 16px;
        display: inline-block;
        cursor: pointer;
        font-family: "Roboto", sans-serif;
        position: relative;
        color: #e1e1e1;
        text-transform: uppercase;
        padding: 20px 20px;
        overflow: hidden;
        transition: all 0.3s ease;
        &.active{
          background: #ffdd40;
          color: #000;
          font-weight: 600;
          border-radius: 26px;
        }
      }
    }
    &__cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: auto;
      grid-gap: 1rem;
      margin-top: 10px;
      &__item {
        height: 366px;
        cursor: pointer;
        position: relative;
        &:hover .overlay{
          opacity: 1
        }
        &__img-wrapper {
          height: 100%;
          a {
            height: 100%;
            img {
              height: inherit;
              object-fit: cover;
              width: 100%;
            }
          }
        }
        .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: 0.5s ease;
          background-color: rgba(253, 218, 62,0.8);

          div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            p {
              color: #000;
              margin: 0;
              font-weight: 500;
              font-size: 4rem;
              position: relative;
              overflow: hidden;
              animation: typing 1s steps(30, end),
                blink-caret 0.5s step-end infinite;
              white-space: nowrap;
            }

            button {
              cursor: pointer;
              margin-top: 15px;
              padding: 10px 70px;
              font-size: 2rem;
              background: transparent;
              color: #000000;
              border: 1.5px solid #000;
              border-radius: 4px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  .portfolio__content__filter > li {
   font-size: 11px;
  }
  .portfolio__content__cards{
    grid-template-columns: repeat(1,1fr);
  }
}
@media only screen and (min-width : 481px) and (max-width: 768px) {
  .portfolio__content__filter > li {
    font-size: 14px;
   }
   .portfolio__content__cards{
    grid-template-columns: repeat(2,1fr);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
