.about {
  &__content {
    display: flex;
    gap: 20px;
    padding: 20px;
    width: 100%;
    &__personalWrapper,
    &__servicesWrapper {
      width: 50%;
    }
    &__personalWrapper {
      h3 {
        margin-bottom: 10px;
        font-size: 2.5rem;
        font-weight: 700;
        font-family: "Playfair Display", serif;
        color: var(--selected-theme-main-color);
      }
      h3.personalContent{
        padding-top: 20px;
      }
      p {
        font-family: "Playfair Display", serif;
        color: var(--selected-theme-sub-text-color);
        font-size: 1.8rem;
        line-height: 1.65;
        padding-bottom: 20px;
        border-bottom: 1px dashed var(--selected-theme-main-color);
      }

      ul > li {
        line-height: 1em;
        margin-bottom: 15px;
        span.title,
        span.value {
          font-family: "Playfair Display", serif;
          font-size: 18px;
          font-weight: 700;
          letter-spacing: 0.5px;
          border-bottom: 2px solid var(--selected-theme-sub-text-color);
          position: relative;
          display: inline-block;
          margin-right: 16px;
          padding-bottom: 1px;
          color: var(--selected-theme-sub-text-color);
        }
        span.title {
          border-color: var(--selected-theme-main-color);
          padding-bottom: 5px;
        }
        span.value {
          border: none;
        }
      }
    }

    &__servicesWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h3 {
        font-size: 2.5rem;
        font-weight: 700;
        font-family: "Playfair Display", serif;
        color: var(--selected-theme-sub-text-color);
      }
      &__innerContent {
        width: 350px;
        height: 350px;
       // margin-top: 40px;
        background: radial-gradient(180px, var(--selected-theme-main-color), transparent 90%);
        position: relative;
        border-radius: 50%;
        border: 1.5px solid var(--selected-theme-main-color);
       animation: rotation 10s linear 1s infinite;
        div:nth-child(1) {
          position: absolute;
          top: -11%;
          left: 41.5%;
        }
        div:nth-child(2) {
          position: absolute;
          right: -8%;
          top: 41.5%;
        }
        div:nth-child(3) {
          position: absolute;
          bottom: -10%;
          left: 42%;
        }
        div:nth-child(4) {
          position: absolute;
          left: -8%;
          top: 41.5%;
        }
        div {
            text-align: center;
        }
        div > p{
            font-size: 1.5rem;
            font-weight: 700;
            font-family: "Playfair Display", serif;
            color: var(--selected-theme-main-color);   
        }
      }
    }
  }
}

@keyframes rotation {
     100%{
         transform: rotate(360deg);
     } 
}

@media only screen and (max-width: 768px) {
  .about__content {
    flex-direction: column;
    &__personalWrapper,
    &__servicesWrapper {
      width: 100%;
    }

    &__servicesWrapper {
      margin: 20px 0;
      &__innerContent{
        width: 250px;
        height: 250px;
        background: radial-gradient(100px, var(--selected-theme-main-color), transparent 120%); 
        div:nth-child(1) {
          top: -15%;
          left: 38.5%;
        }
        div:nth-child(2) {
          right: -11%;
          top: 41.5%;
        }
        div:nth-child(3) {
          bottom: -12%;
          left: 38%;
        }
        div:nth-child(4) {
          left: -12%;
          top: 41.5%;
        }
      }
    }

  }
}
