
.navbar {
  background-color: #181818;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0px 20px;
    max-width: 1500px;
    &__logo {
      color: #ffdd40;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
      font-size: 2rem;
      flex-grow: 1;
    }
    &__menu {
      display: flex;
      list-style: none;
      text-align: center;
      &__item {
        line-height: 40px;
        margin-right: 1.5rem;
        font-size: 1.6rem;
        &::after {
          content: "";
          display: block;
          height: 3px;
          width: 0;
          background: transparent;
          transition: width 0.7s ease, background-color 0.5s ease;
        }
        &:hover::after {
          width: 100%;
          background: #ffdd40;
        }
        &__links {
          color: #ffdd40;
          text-decoration: none;
          padding: 0.5rem 1rem;
          height: 100%;
          border-bottom: 3px solid transparent;
        }
        &__links{
          padding-right: 0px;
        }
      }
      &__item:last-child{
        margin: 0;
      }
    }
  }
}

.nav-icon {
  display: none;
}

.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
  .navbar__container__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
    &.active{
      background: #181818;
      left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }

    &__item{
      border-bottom: 1px solid #282828;
      margin: 0px;
      padding: 20px 0;
    }

    &__item.active{
      color: #ffdd40;
      border: none;

      &__links{
        padding: 1.5rem;
        width: 100%;
        display: table;
      }
    }
  }
  .nav-item .active {
    color: #ffdd40;
    border: none;
  }
  .nav-icon {
    display: block;
    font-size: 1.8rem;
    cursor: pointer;
    color: #ffdd40;
  }
}
