.theme-wrapper {
  width: 180px;
  position: fixed;
  right: -180px;
  top: 22%;
  background-color: #fff;
  z-index: 1000;
  border: 1px solid #d5d5d5;
  transition: all 0.5s ease;

  &.active{
      right: 0;
  }

  &__toggle-btn {
    position: absolute;
    top: -1px;
    left: -40px;
    height: 40px;
    width: 40px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    border-right: none;
    cursor: pointer;

    svg{
        animation-name: spin;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
  }

  &__menu {
    text-align: center;
    padding: 20px 10px;

    h4{
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        color: #222;
        margin-bottom: 15px;

    }

    ul {
        display: flex;
        gap: 2px;
        li {
            list-style-type: none;
            width: 40px;
            height: 40px;
            cursor: pointer;
        }
    }
  }
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

